# 주어진 문자열(공백 없이 쉼표로 구분되어 있음)을 가지고 아래 문제에 대한 프로그램을 작성하세요.

## 이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌

### 1. 김씨와 이씨는 각각 몇 명 인가요?
### 2. "이재영"이란 이름이 몇 번 반복되나요?
### 3. 중복을 제거한 이름을 출력하세요.
### 4. 중복을 제거한 이름을 오름차순으로 정렬하여 출력하세요.

In [3]:
# 1. 김씨와 이씨는 각각 몇 명인가요?
names = ["이유덕","이재영","권종표","이재영","박민호","강상희","이재영","김지완","최승혁","이성연","박영서","박민호","전경헌","송정환","김재성","이유덕","전경헌"]

count_Kim = 0
count_Lee = 0
for name in names:
    if "김" == name[0]:
        count_Kim += 1
        
for name in names:
    if "이" == name[0]:
        count_Lee += 1
        
print(count_Kim, count_Lee)

2 6

In [4]:
# 2. "이재영"이란 이름이 몇 번 반복되나요?
names = ["이유덕","이재영","권종표","이재영","박민호","강상희","이재영","김지완","최승혁","이성연","박영서","박민호","전경헌","송정환","김재성","이유덕","전경헌"]

count_LJY = 0
for name in names:
    if "이재영" in name:
        count_LJY += 1
        
print(count_LJY)

3

In [5]:
# 3. 중복을 제거한 이름을 출력하세요.
names = ["이유덕","이재영","권종표","이재영","박민호","강상희","이재영","김지완","최승혁","이성연","박영서","박민호","전경헌","송정환","김재성","이유덕","전경헌"]

for name in names:
    if name in names:
        names.remove(name)   # remove()함수 사용. 리스트.remove(값) 의 형태로 사용. 리스트 내부에 값을 지정해서 제거함.
        
print(names)

['이재영', '강상희', '이재영', '김지완', '이성연', '박민호', '송정환', '이유덕']

In [12]:
# 4. 중복을 제거한 이름을 오름차순으로 정렬하여 출력하세요.
names = ["이유덕","이재영","권종표","이재영","박민호","강상희","이재영","김지완","최승혁","이성연","박영서","박민호","전경헌","송정환","김재성","이유덕","전경헌"]

for name in names:
    if name in names:
        names.remove(name)
        
print(sorted(names, reverse = True))       # sorted() 함수를 이용하여 한글을 사전순으로 오름차순으로 정렬.
                                           # sorted() 함수 내부에 키워드 reverse = True를 하면 내림차순으로 정렬함.
                                           # names.sort() 를 하면 왜 출력이 None이지,,,?
        
print()
print(names.sort(reverse=False))

['이재영', '이재영', '이유덕', '이성연', '송정환', '박민호', '김지완', '강상희']

None